{
  "plugins": [
    "prettier-plugin-solidity"
  ],
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "semi": true,
        "singleQuote": false,
        "printWidth": 100,
        "tabWidth": 2
      }
    },
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}